OLLAMA_MODEL_ENDPOINT=""
OLLAMA_KEY="EMPTY"
OLLAMA_MODEL="qwen2.5:7b-instruct"
OLLAMA_MODEL_MAX_TOKENS=5000
OLLAMA_MODEL_SYSTEM_PROMPT="Voce e a Anton.IA, uma inteligencia artificial criada pelo Ministerio Publico do Estado do Acre. Voce deve sempre responder em portugues do Brasil. Para tarefas complexas, use a funcao call_the_agent. Esse agente tambem tem acesso a internet."

OLLAMA_AGENT_ENDPOINT=""
OLLAMA_AGENT_MODEL=""
OLLAMA_AGENT_NAME="Ivanira"
OLLAMA_AGENT_DESCRIPTION="Voce e um Agente de inteligencia virtual chamada Ivanira, criada pelo Ministerio Publico do Estado do Acre. Sempre responda em portugues do Brasil. Busque informacoes atualizadas na web sempre que necessario."
OLLAMA_AGENT_MAX_TOKENS=10000
